
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');
/*
font-family: 'Montserrat', sans-serif;
font-family: 'Fraunces', serif;
*/
/*comentario*/
body{
  background-color:hsl(30, 38%, 92%);
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  display: flex;/*separa el body del main*/
  justify-content: center;
  align-items: center;
}
main{
  background-color: aqua;
  width: 600px;
  height: 400px;
}