
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');
/*
font-family: 'Montserrat', sans-serif;
font-family: 'Fraunces', serif;
*/
/*comentario*/
body{
  background-color:hsl(30, 38%, 92%);
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  display: flex;/*separa el body del main*/
  justify-content: center;
  align-items: center;
}
main{
  background-color: aqua;
  width: 560;
  height: 500px;
  display: flex;/*ordena los bloques segun su clase padre main*/
}
.photo {
background-color: blue;
/*width: 50%;*/
width: 280px;
/*height: 100px;*/
background-image: url(./images/image-product-desktop.jpg);
background-size: cover;/*ocupada todo el espacio*/
background-repeat: no-repeat;/*para que nos e repita la imagen si se reduce su tamaño*/
}
.content {
background-color: bisque;
width: 260px;
padding: 28px;/*es el espacio interno del bloque , la separacion de los objetos con la caja*/
}
.content h3{
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 7px;
  color:hsl(228,12%, 48%);
}
content h1{
  font-family: 'Fraunces', serif;
  font-weight: 700;
  font-size: 32px;
  color:hsl(212, 21%, 14%)
}
.content p{
  color:hsl(228,12%, 48%);
  font-weight: 500;
  line-height: 1.5;
}
.content div{
  display: flex;
  align-items: center;
  gap: 14px;/*espaciado de los elementos dentro de la caja*/
}
.content span{
  font-family: 'Fraunces', serif;
  font-size: 32px;
  font-weight: 700;
  color: hsl(158, 36%, 37%)
}
.content s{
  color:hsl(228,12%, 48%);
}
.content button{
  border: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: hsl(158, 36%, 37%);
  padding:14px;
  display: flex;
  justify-content: center;
  gap: 7px;
  border-radius: 7px;
  margin-top: 20px;
  cursor: pointer;
}