@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap');
/*
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
*/
:root{
    /* FONTS*/
    /*creamos una variable global--variable*/
    /*fuente letra peso tamaño*/
    /*--color:red;*/
    --font-primary: 'Open Sans', sans-serif;;
    --font-secondary: 'Raleway', sans-serif;
    --font-size: 16px;
    --font-weight-regular: 400;
    --font-weight-bold: 700;
    /*COLOR*/
    /*### Primary*/
    --primary-very-dark-blue: hsl(243, 87%, 12%);
    --primary-desaturated-blue: hsl(238, 22%, 44%);
    /*### Accent*/
    --accent-bright-blue: hsl(224, 93%, 58%);
    --accent-moderate-cyan: hsl(170, 45%, 43%);
    /*### Neutral*/
    --neutral-light-grayish-blue: hsl(240, 75%, 98%);
    --neutral-light-gray:hsl(170, 45%, 43%);
}
/*inicializamos todos los valores en cero para una mejor maquetacion*/
*{
    box-sizing: border-box;
    margin: 0;
}
html{
    font-size: var(var(--font-size));
}
body{
    /*background-color: var(--primary-very-dark-blue);*/
    color: var(--primary-very-dark-blue);
    padding: 4rem 13rem 4rem 13rem;
}
a{
    /*toma el color de la clase padre*/
    color: inherit;
    text-decoration: none;
}
/*aqui se agregan valores para que se adapten a cualquier dispositivo*/
img{

}
/*bloque 1*/
.wrapper {
    /*todo adaptamos el ancho de la pagina a navegadores pc*/
    /*width: 1440px;*/
    /*adaptamos el ancho a paginas mobiles*/
    /*aplicamos una funcion mas optima para el wrapper width: 1440px */
    width:min(100% - 3rem, 1440px) ;
    /*crea una propiedad que agerga un padding de 3 rem para que no se distorcione la pagina por otros dispositivos*/
}

.header {
    font-family: var(--font-primary);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 3.5rem;
}
.header_nav {
    list-style: none;
    padding: 10px;
    margin: 10px;
    display: flex;
    gap: 3rem;
}
.hero{
    flex-direction: column;
    gap: 2rem;
    padding: 8rem 0 10rem 0rem;/*espacio entre la imagen y el margen*/
    text-align:left;
    width: 42.5rem;
    height: 40rem;
   /* border:1px solid red;*/
    margin-top: 4rem;
}
/*******/
.hero__image{
    margin-top: 4rem;
    float: right;
    width: 35rem;
    height: 35rem;
    /*border: 1px solid red;*/
}
.hero__title{
    /*width: 720px; aplicando la funcion para optimizar la pag por el tamaño de la pantalla*/
    width: min(100% - 3rem,720px);
    font-family: var(--font-secondary);
    font-weight: var(--font-weight-bold);
    font-size: 2.5rem;
    padding-left: 3rem;
}
.hero__text{
    display: block;
    /*width: 720px;*/
    width: min(100% - 3rem,720px);
    font-family: var(--font-primary);
    font-weight: var(--font-weight-regular);
    font-size: 1.2rem;
    padding: 2rem  0rem 2rem 3rem;
}/******/
.hero form{
    padding-left: 3rem;
    
}
.hero input[type=text]{
    border-radius: 0.2rem;
    border:1px solid var(--primary-very-dark-blue);
    padding: 1rem 7rem 1rem 1rem;
    min-width: 5rem;
    margin-right: 1rem;
    
}
.hero input[type=submit]{
    font-family: var(--font-primary);
    font-weight: var(--font-weight-bold);
    border: none;
    border-radius: 0.3rem;
    padding: 1rem 4.5rem;
    min-width:120px;
    color: var(--neutral-light-grayish-blue);
    background:var(--accent-bright-blue);
}
/*bloque 2*/
.collaboration{
    display: flex;
    justify-content: center;/*centrado horizontal*/
    align-items: center;/*centrado vertical*/
    gap: 4rem;
    background-color: var(--neutral-light-grayish-blue);
    padding-top: 8rem;
    width: auto;
    background-image: url(../images/bg-curve-desktop.svg);/*mientras no tenga espacio se puede declarar sin comillas*/
    background-repeat: no-repeat;/*no repetir la imagen*/
    background-position:bottom ;
    background-size:contain ;
}
.collaboration__image{
    
    float: right;
    width: 40rem;
    height: 35rem;
}
.how_works{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 30rem;
}
.how_works__title{
    font-family: var(--font-primary);
    font-weight: var(--font-weight-bold);
    font-size: 2.5rem;
}
.how_works__text{
    font-family: var(--font-secondary); 
}