@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap');
/*
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
*/
:root{
    /* FONTS*/
    /*creamos una variable global--variable*/
    /*fuente letra peso tamaño*/
    /*--color:red;*/
    --font-primary: 'Open Sans', sans-serif;;
    --font-secondary: 'Raleway', sans-serif;
    --font-size: 16px;
    --font-weight-regular: 400;
    --font-weight-bold: 700;
    /*COLOR*/
    /*### Primary*/
    --primary-very-dark-blue: hsl(243, 87%, 12%);
    --primary-desaturated-blue: hsl(238, 22%, 44%);
    /*### Accent*/
    --accent-bright-blue: hsl(224, 93%, 58%);
    --accent-moderate-cyan: hsl(170, 45%, 43%);
    /*### Neutral*/
    --neutral-light-grayish-blue: hsl(240, 75%, 98%);
    --neutral-light-gray:hsl(170, 45%, 43%);
}
/*inicializamos todos los valores en cero para una mejor maquetacion*/
*{
    box-sizing: border-box;
    margin: 0;
}
html{
    font-size: var(var(--font-size));
}
body{
    /*background-color: var(--primary-very-dark-blue);*/
    color: var(--primary-very-dark-blue);
    padding: 4rem 0 4rem 0;
    align-items: center;
}
a{
    /*toma el color de la clase padre*/
    color: inherit;
    text-decoration: none;
}
/*aqui se agregan valores para que se adapten a cualquier dispositivo*/
img{

}
/*bloque 1*/
.wrapper {
    /*todo adaptamos el ancho de la pagina a navegadores pc*/
    /*width: 1440px;*/
    /*adaptamos el ancho a paginas mobiles*/
    /*aplicamos una funcion mas optima para el wrapper width: 1440px */
    width:min(100% - 3rem, 1440px) ;
    /*crea una propiedad que agerga un padding de 3 rem para que no se distorcione la pagina por otros dispositivos*/
}

.header {
    font-family: var(--font-primary);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 3.5rem;
}
.header_nav {
    list-style: none;
    padding: 10px;
    margin: 10px;
    display: flex;
    gap: 3rem;
}
.hero{
    
    flex-direction: column;
    gap: 2rem;
    padding: 8rem 0 10rem 0rem;/*espacio entre la imagen y el margen*/
    text-align:left;
    width: 42.5rem;
    height: 40rem;
   /* border:1px solid red;*/
    margin-top: 4rem;
}
/*******/
.hero__image{
    position: relative;
    margin-top: 4rem;
    float: right;
    width: 40rem;
    height: 40rem;
    right: 20rem;
}
.hero__title{
    /*width: 720px; aplicando la funcion para optimizar la pag por el tamaño de la pantalla*/
    width: min(100% - 3rem,720px);
    font-family: var(--font-secondary);
    font-weight: var(--font-weight-bold);
    font-size: 2.5rem;
    padding-left: 3rem;
}
.hero__text{
    display: block;
    /*width: 720px;*/
    width: min(100% - 3rem,720px);
    font-family: var(--font-primary);
    font-weight: var(--font-weight-regular);
    font-size: 1.2rem;
    padding: 2rem  0rem 2rem 3rem;
}/******/
.hero form{
    padding-left: 3rem;
    
}
.hero input[type=text]{
    border-radius: 0.2rem;
    border:1px solid var(--primary-very-dark-blue);
    padding: 1rem 7rem 1rem 1rem;
    min-width: 5rem;
    margin-right: 1rem;
    
}
.hero input[type=submit]{
    font-family: var(--font-primary);
    font-weight: var(--font-weight-bold);
    border: none;
    border-radius: 0.3rem;
    padding: 1rem 4.5rem;
    min-width:120px;
    color: white;
    background:var(--accent-bright-blue);
}
/*bloque 2*/
.collaboration{
    padding-left: 4rem;
    /*object-fit: cover;*/
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;/*centrado horizontal*/
    align-items: center;/*centrado vertical*/
    gap: 4rem;
    background-color: var(--neutral-light-grayish-blue);
    padding-top: 8rem;
    width: auto;
    padding-bottom: 5rem;

}
.productive_image{
    width: 100%;
    height: auto;
    background-repeat: no-repeat;/*no repetir la imagen*/
    background-size: contain;
    display: block;/*desaparecer espacio entre imagenes*/
}
.collaboration__image{
    float: right;
    width: 40rem;
    height: 35rem;
    
}
.how_works{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 30rem;
}
.how_works__title{
    font-family: var(--font-primary);
    font-weight: var(--font-weight-bold);
    font-size: 2.5rem;
}
.how_works__text{
    font-family: var(--font-secondary); 
}
.how_works__button{
    color: var(--accent-moderate-cyan);
    font-family: var(--font-secondary);
    font-size: var(--font-weight-regular);
    border-bottom: 1px solid var(--accent-moderate-cyan);
    display: flex;
    align-items: center;
    gap: 7px;
    width: 10.8rem
}
.testimonials{
    
    background-color: var(--neutral-light-grayish-blue);
    padding: 2.5rem;
    border-radius: 5px;
    font-size: var(--font-primary);
    line-height: 15px;
    letter-spacing: 0.4px;
    box-shadow: 1px 1px 10px 1px var(--primary-desaturated-blue);
    width: 43%;
    
}
.testimonial__text{
    margin-bottom: 2rem;
    line-height: 1.5;/*interlineado dimension*/
    width: 21rem;
    align-items: center;
    white-space: initial;
}
.testimonial__profile{
    display: flex;
    gap: 0.5rem;
    font-size: 0.8rem;
}
.testimonial__profile img{
    border-radius: 50%;
    width: 2rem;
    align-items: center;
}
.testimonial__profile h5{
    font-weight:var(--font-weight-regular);
}
/*tercer bloque*/
.early--access{
    /*border: 1px solid red;*/
    font-family: var(--font-primary);
    width: 100%;
    background-color:var(--primary-desaturated-blue);
    display: flex;
    gap:1.5rem ;
    height: 18rem;
}

.early--access h2{
    color: var(--neutral-light-grayish-blue);
    width: 35rem;
    text-align: left;
    font-size: 2rem;
    padding: 4rem 0rem 0 4rem;
    
}
.early--access p{
    color: var(--neutral-light-grayish-blue);
    position: relative;
    
    text-align: left;
    width: 35rem;
    top: 9rem;
    right: 32rem;
}
.early--access form{
    /*border: 1px solid red ;*/
    gap: 2rem;
}
/*solo para celulares tables*/
@media(max-with:768px){
    .early--access {
        width: 100%;
        padding: 0 3rem;
    }
    .early--access form{
        flex-direction: column;
    }
}
.early--access input[type=text]{/*seleccionando al atributo de la clase input text"[]"*/
    margin-top: 4rem;
    border-radius: 0.2rem;
    border: none;
    padding: 1rem 2rem;
    min-width: 30rem;
}
.early--access input[type=submit]{/*seleccionando al atributo de la clase input submit"[]"*/
    color: var(--neutral-light-grayish-blue);
    font-family: var(--font-primary);
    font-weight: var(--font-weight-bold);
    margin-top: 1rem;
    border: none;
    border-radius: 0.2rem;
    padding: 1rem 1.5rem;
    min-width:120px;
    background-color: var(--accent-bright-blue);
}

.footer{
    font-family: var(--primary-very-dark-blue);
    color: var(--neutral-light-grayish-blue);
    background-color: var(--primary-very-dark-blue);
    padding: 15rem 0 5rem 0;
    position: relative;/*se usa para enganchar otra caja para que se valla posicionando*/
}
.footer--wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;/*recupere su tamaño original*/
    gap: 2rem;
    width: 76rem;
    margin: 0 auto;/*pone un margen automatico de igual tamaño ambos lados*/
}
.footer-info{
    display: flex;
    gap: 4rem;
    width: 100%;
    justify-content: space-between;/*distribuye todo el espacio de la caja con el contenido*/
}
/*solo para dispositvos pqueños pone uno debbajo del otro*/
@media(max-with:768px){
    .footer-info{
        flex-direction: column;
    }
}
.footer-info__description{
    width: 22rem;
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
}
.footer-info__contact{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.footer-info__contact span{
    display: flex;
    gap: 1rem;
}
.footer-info__links{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}