.login-button{
    background-color: #009970;
    color: #fff;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
}
.login-button:hover{
    background-color: #00b383;
}
.navbar-toggler{
    border:none;
    font-size: 1.25rem;
}
.navbar-toggler:focus,btn-close:focus{
    box-shadow: none;
    outline: none;
}
