.header{
    display: flex;
    justify-content: space-between;/*distribuye los componentes*/
    border: 1px solid red;
}
.header__logo{
    color: $primary-color-gold;
    font-size: 2rem;
    font-weight: 700;
}